@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #eee;
    font-family: 'Roboto';
    max-width: 960px;
    margin: 100px auto;
    padding: 70px;
    font-size: x-small;
    color: #000000;

}

nav{
    display: flex;
    justify-content: space-between;
}

nav h1{
    margin: 0px; 
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background: #36cca2;
}

form{
    max-width: 500px;

}

input,textarea{
    display: block;
    margin: 16px 0;
    padding: 6px 10px;
    width: 100%;
    font-family: 'Robota';
    border:1px solid #ddd 
}

textarea{
    min-height: 200px;
}

.blogs p{
    color:000000;
    font-size: smaller;
}
.post{
    padding: 16px;
    background:white;
    border-radius: 10px;
    margin: 20px 0;
}
.post  a{
    color: #36cca2;
}

.post p{
    margin-top: 0;
}

.post h2{
    margin: 0;
}